In [20]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [21]:
# Create a DataFrame
data = {
    "City": ["New York", "Los Angeles", "New York", "Chicago", "Los Angeles", "Chicago"],
    "Size (sqft)": [2000, 1500, 1800, 1200, 2500, 2300],
    "Bedrooms": [3, 2, 3, 2, 4, 3],
    "Bathrooms": [2, 1, 2, 1, 3, 2],
    "Price": [300000, 200000, 250000, 180000, 500000, 400000]
}

In [22]:
df = pd.DataFrame(data)

In [23]:
label_encoder = LabelEncoder()
df["City_label"] = label_encoder.fit_transform(df["City"])

In [24]:
# One-hot Encoding

df_onehot = pd.get_dummies(df, columns=["City"], drop_first=True)

In [25]:
# Target Encoding

target_encoding = df.groupby("City")["Price"].mean().to_dict()
df["City_target"] = df["City"].map(target_encoding)

In [26]:
print(df)
print( "\n",df_onehot)

          City  Size (sqft)  Bedrooms  ...   Price  City_label  City_target
0     New York         2000         3  ...  300000           2     275000.0
1  Los Angeles         1500         2  ...  200000           1     350000.0
2     New York         1800         3  ...  250000           2     275000.0
3      Chicago         1200         2  ...  180000           0     290000.0
4  Los Angeles         2500         4  ...  500000           1     350000.0
5      Chicago         2300         3  ...  400000           0     290000.0

[6 rows x 7 columns]

    Size (sqft)  Bedrooms  ...  City_Los Angeles  City_New York
0         2000         3  ...             False           True
1         1500         2  ...              True          False
2         1800         3  ...             False           True
3         1200         2  ...             False          False
4         2500         4  ...              True          False
5         2300         3  ...             False          False

[6 rows x 7 columns]